body{
    font-family: Arial, sans-serif;
    background-color: rgb(76, 119, 180);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
    
.container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
    
.inputContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
input{
    display: block;
    margin-bottom: 8px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 300px;
}
    
button{
    color: black;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px black;
    cursor: pointer;
    margin-bottom: 10px;
    height: 35px;
}
    
Button:hover {
    background-color: #848e85;
}
    
ul {
    list-style-type: none;
    padding: 0;
}
    
li {
    background-color: #ebd935;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
li:hover {
    background-color: #a99e3b;
}

/* Existing CSS Code */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
