body{
    font-family: Arial, sans-serif;
    background-color: rgb(76, 119, 180);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
    
.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: 3rem auto;
}
    
.inputContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
input{
    display: block;
    margin-bottom: 8px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 300px;
}
    
button{
    color: black;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px black;
    cursor: pointer;
    margin-bottom: 10px;
    height: 35px;
}
    
Button:hover {
    background-color: #848e85;
    cursor: pointer;
}
    
ul {
    list-style-type: none;
    padding: 0;
}
    
li {
    background-color: #63e7c0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
li:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

li.task-item {
    position: relative;
    padding-right: 40px; 
}

.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
}